.story{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:200px;
    width:120px;
    border-radius: 5px; 
    transition: transform 100ms ease-in;
   margin: 10px;
    box-shadow: 8px 5px 17px -7px rgba(0,0,0,0.75); 
    cursor: pointer;
}
.story:hover{
    transform: scale(1.07);
}
.story > h4{
    position: absolute;
    bottom: 40px;
    color:black;

    

}